#set ($logo = $_XPathTool.selectSingleNode($contentRoot,"//game-logo"))
#set($logoPath = $logo.getChild("path").value)

#set($fontColor = $_XPathTool.selectSingleNode($contentRoot,"//start-text-color").value)

<div id="playground" style="width: 700px; height: 250px; background: black;">
        <div id="welcomeScreen" style="width: 700px; height: 250px; position: absolute; z-index: 100; background-image: url([system-asset]${logoPath}[/system-asset]); font-family: verdana, sans-serif;">
            <div style="position: absolute; top: 180px; width: 700px; color: white;">
                <div id="loadingBar" style="position: relative; left: 100px; height: 15px; width: 0px; background: red;"></div><br/>
                <center><a id="startbutton" style="cursor: pointer;color: $fontColor">Click here to start!</a></center>
            </div>
        </div>
    </div>
